/* Place custom css here. */
/* Hide the email field */
#vcomments .vmail {
    display: none;
  }
  
  /* Hide the website field */
  #vcomments .vlink {
    display: none;
  }

  /* Increase the width of the nickname field */
#vcomments .vnick  {
  width: 100%; /* Adjust the width as needed (e.g., 100%, 400px, etc.) */
 
}


/* Centers all img tags (images) */ 
img {
    display: block;
    margin: 0 auto;
    text-align: center;
}